.inputWrapper {
  position: relative;
  width: max-content;

  .input {
    border: none;
    background-color: #5A5C66;
    padding: 16px 24px;
    width: 400px;
    color: #fff;
    outline: none;
  }

  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
  }
}
