@import '../../../styles//variables.scss';

.postsTableHeader {
  display: grid;
  grid-template-columns: 1fr 5fr 6fr;
  
  .postsTableHeaderButton {
    border: none;
    background-color: #474955;
    color: #fff;
    font-weight: $font-weight-bold;
    padding: 20px 0;
    cursor: pointer;
    transition: background-color .2s ease;
    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
      margin-right: 5px;
    }

    &:hover {
      background-color: #525563;
    }
  }
}

.flipOver {
  transform: rotate(180deg);
}